.place__heart_color {
  position: absolute;
  left: 0; 
  top: 0;
  width: 100%; 
  height: 100%;
  background: url(../../../../images/heart_transparent.svg) no-repeat;
  background-position: center;
  cursor: pointer; 
}
